<h1>Admin Dashboard</h1>
<div class="container">
  <table class="table table-bordered border-dark">
    <thead>
      <tr>
        <th></th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to "Categories", admin_categories_url%>
        </td>
        <td>
          <%= @category_count %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "Products", admin_products_url %>
        </td>
        <td>
          <%= @product_count %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
