<h1>About Jungle</h1>
<p>If you love plants and can't get enough of them, yet can only find trees
or can only find bushes, you're in the right place.
Jungle has categories such as evergreens, shrubs and trees that
allow you to have that diverse collection you always wanted!
Try us out!</p>
